{% load static %}
<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="{% static 'ver1/vendor/global/global.min.js' %}"></script>
<script src="{% static 'ver1/js/quixnav-init.js' %}"></script>
<script src="{% static 'ver1/js/custom.min.js' %}"></script>
<script src="{% static 'ver1/vendor/pg-calendar/js/pignose.calendar.min.js' %}"></script>
<!-- Vectormap -->
<script src="{% static 'ver1/vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'ver1/vendor/morris/morris.min.js' %}"></script>
<script src="{% static 'ver1/vendor/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'ver1/vendor/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'ver1/vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'ver1/vendor/gaugeJS/dist/gauge.min.js' %}"></script>
<!--  flot-chart js -->
<script src="{% static 'ver1/vendor/flot/jquery.flot.js' %}"></script>
<script src="{% static 'ver1/vendor/flot/jquery.flot.resize.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'ver1/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>
<!-- Counter Up -->
<script src="{% static 'ver1/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
<script src="{% static 'ver1/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
<script src="{% static 'ver1/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'ver1/js/dashboard/dashboard-1.js' %}"></script>
<script src="{% static 'ver1/js/dashboard/dashboard-2.js' %}"></script>
<!--removeIf(production)-->
<!-- Demo scripts -->
<script src="{% static 'ver1/js/styleSwitcher.js' %}"></script>
<script src="{% static 'ver1/vendor/jqueryui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'ver1/vendor/moment/moment.min.js' %}"></script>
<script src="{% static 'ver1/vendor/fullcalendar/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/fullcalendar-init.js' %}"></script>