{% load static %}
<!--**********************************
    Scripts
***********************************-->
<!-- Required vendors -->
<script src="{% static 'ver1/vendor/global/global.min.js' %}"></script>
<script src="{% static 'ver1/js/quixnav-init.js' %}"></script>
<script src="{% static 'ver1/vendor/quixnav/quixnav.min.js' %}"></script>
<script src="{% static 'ver1/js/custom.min.js' %}"></script>
<script src="{% static 'ver1/vendor/pg-calendar/js/pignose.calendar.min.js' %}"></script>
<!-- Vectormap -->
<script src="{% static 'ver1/vendor/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'ver1/vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'ver1/vendor/gaugeJS/dist/gauge.min.js' %}"></script>
<script src="{% static 'ver1/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
<script src="{% static 'ver1/vendor/jqvmap/js/jquery.vmap.world.js' %}"></script>
<script src="{% static 'ver1/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
<!--  flot-chart js -->
<script src="{% static 'ver1/vendor/flot/jquery.flot.js' %}"></script>
<script src="{% static 'ver1/vendor/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'ver1/vendor/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'ver1/vendor/flot-spline/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/flot-init.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'ver1/vendor/owl-carousel/js/owl.carousel.min.js' %}"></script>
<!-- Counter Up -->
<script src="{% static 'ver1/vendor/jqvmap/js/jquery.vmap.min.js' %}"></script>
<script src="{% static 'ver1/vendor/jqvmap/js/jquery.vmap.usa.js' %}"></script>
<script src="{% static 'ver1/vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'ver1/js/dashboard/dashboard-1.js' %}"></script>
<script src="{% static 'ver1/js/dashboard/dashboard-2.js' %}"></script>
<!--removeIf(production)-->
<!-- Demo scripts -->
<script src="{% static 'ver1/js/styleSwitcher.js' %}"></script>
<script src="{% static 'ver1/vendor/jqueryui/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'ver1/vendor/moment/moment.min.js' %}"></script>
<script src="{% static 'ver1/vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'ver1/vendor/fullcalendar/js/fullcalendar.min.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/fullcalendar-init.js' %}"></script>
<!-- Chart Morris plugin files -->
<script src="{% static 'ver1/vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'ver1/vendor/morris/morris.min.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/morris-init.js' %}"></script>
<!-- Chart ChartJS plugin files -->
<script src="{% static 'ver1/vendor/chart.js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/chartjs-init.js' %}"></script>
<!-- Chart Chartist plugin files -->
<script src="{% static 'ver1/vendor/chartist/js/chartist.min.js' %}"></script>
<script src="{% static 'ver1/vendor/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/chartist-init.js' %}"></script>
<!-- Chart piety plugin files -->
<script src="{% static 'ver1/vendor/peity/jquery.peity.min.js' %}"></script>
<!-- Chart sparkline plugin files -->
<script src="{% static 'ver1/vendor/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<!-- Easy pie chart plugin files -->
<script src="{% static 'ver1/vendor/easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<!-- Circle progress -->
<script src="{% static 'ver1/vendor/flot/jquery.flot.js' %}"></script>
<script src="{% static 'ver1/vendor/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'ver1/vendor/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'ver1/vendor/flot-spline/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'ver1/vendor/amcharts/amcharts.js' %}"></script>
<script src="{% static 'ver1/vendor/amcharts/serial.js' %}"></script>
<script src="{% static 'ver1/vendor/amcharts/plugins/dataloader.min.js' %}"></script>
<script src="{% static 'ver1/vendor/amcharts/plugins/export.min.js' %}"></script>
<script src="{% static 'ver1/vendor/amcharts/ammap.js' %}"></script>
<script src="{% static 'ver1/vendor/amcharts/worldLow.js' %}"></script>
<script src="{% static 'ver1/vendor/amcharts/pie.js' %}"></script>
<script src="{% static 'ver1/vendor/amcharts/amstock.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/amchart-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/chartjs-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/chartist-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/morris-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/sparkline-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/easy-pie-chart-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/flot-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/piety-init.js' %}"></script>
<!-- All init script -->
<script src="{% static 'ver1/js/plugins-init/jqvmap-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/nestable-init.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/toastr-init.js' %}"></script>
<!-- Nestable -->
<script src="{% static 'ver1/vendor/nestable2/js/jquery.nestable.min.js' %}"></script>
<!-- Toastr -->
<script src="{% static 'ver1/vendor/toastr/js/toastr.min.js' %}"></script>
<!-- Plugins -->
<script src="{% static 'ver1/vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'ver1/vendor/wnumb/wNumb.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/nouislider-init.js' %}"></script>
<script src="{% static 'ver1/vendor/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/select2-init.js' %}"></script>
<script src="{% static 'ver1/vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>
<script src="{% static 'ver1/js/plugins-init/sweetalert.init.js' %}"></script>
<!-- Init file -->
<script src="{% static 'ver1/js/plugins-init/widgets-script-init.js' %}"></script>

<script src="{% static 'ver1/vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>    
<script src="{% static 'ver1/vendor/jquery-validation/jquery.validate.min.js' %}"></script>
<!-- Form validate init -->
<script src="{% static 'ver1/js/plugins-init/jquery.validate-init.js' %}"></script>
<!-- Form step init -->
<script src="{% static 'ver1/js/plugins-init/jquery-steps-init.js' %}"></script>
<!-- clockpicker -->
<script src="{% static 'ver1/vendor/clockpicker/js/bootstrap-clockpicker.min.js' %}"></script>
<!-- asColorPicker -->
<script src="{% static 'ver1/vendor/jquery-asColor/jquery-asColor.min.js' %}"></script>
<script src="{% static 'ver1/vendor/jquery-asGradient/jquery-asGradient.min.js' %}"></script>
<script src="{% static 'ver1/vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js' %}"></script>
<!-- Material color picker -->
<script src="{% static 'ver1/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
<!-- pickdate -->
<script src="{% static 'ver1/vendor/pickadate/picker.js' %}"></script>
<script src="{% static 'ver1/vendor/pickadate/picker.time.js' %}"></script>
<script src="{% static 'ver1/vendor/pickadate/picker.date.js' %}"></script>
<!-- Summernote -->
<script src="{% static 'ver1/vendor/summernote/js/summernote.min.js' %}"></script>
<!-- Summernote init -->
<script src="{% static 'ver1/js/plugins-init/summernote-init.js' %}"></script>
<!-- Datatable -->
<script src="./vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="./js/plugins-init/datatables.init.js"></script>