{% load static %}

<!--**********************************
    Sidebar start
***********************************-->
<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li><a href="/web/monitoring/template2/page"><i class="icon icon-single-04"></i><span class="nav-text">A . S . R</span></a></li>
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="icon icon-single-04"></i><span class="nav-text">SERVER STATUS</span></a>
                <ul aria-expanded="false">
                
                <!--
                    <li><a href="/web/monitoring/master/page">Master Server</a></li>
                    <li><a href="/web/monitoring/proxy/page">Proxy Server</a></li>
                -->
                    <li><a href="/web/monitoring/videotest/page">Video Test</a></li>
                    <!-- template page -->
                    <li><a href="/web/monitoring/template/page">template</a></li>

                    
                </ul>
            </li>

            <!-- Web Camera LIST -->
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="icon icon-single-04"></i><span class="nav-text">WebCamera</span></a>
                <ul aria-expanded="false">
                    <li><a href="/web/monitoring/WebCamera/none">WebCameraTest</a></li>
                    <li><a href="/web/monitoring/WebCamera/ObjectDetection">ObjectDetection</a></li>
                    <li><a href="/web/monitoring/WebCamera/gesture-recognition">gesture-recognition</a></li>
                    <li><a href="/web/monitoring/WebCamera/MaskDetection">MaskDetection</a></li>
                    <li><a href="/web/monitoring/WebCamera/FireDetection">FireDetection</a></li>
                </ul>
            </li>

            <!-- Turtlebot LIST -->
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i class="icon icon-single-04"></i><span class="nav-text">TurtlebotCamera</span></a>
                <ul aria-expanded="false">
                    <li><a href="/web/monitoring/Turtlebot/none">TurtlebotCameraTest</a></li>
                    <li><a href="/web/monitoring/Turtlebot/ObjectDetection">ObjectDetection</a></li>
                    <li><a href="/web/monitoring/Turtlebot/gesture-recognition">gesture-recognition</a></li>
                    <li><a href="/web/monitoring/Turtlebot/MaskDetection">MaskDetection</a></li>
                    <li><a href="/web/monitoring/Turtlebot/FireDetection">FireDetection</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->