{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

{% include "ver1/include/head.html" %}

<body class="h-100">
    {% include "ver1/include/header.html" %}
    {% include "ver1/include/sidebar.html" %}
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Account Locked</h4>
                                    <form action="index.html">
                                        <div class="form-group">
                                            <label><strong>Password</strong></label>
                                            <input type="password" class="form-control" value="Password">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Unlock</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "ver1/include/footer.html" %}
    {% include "ver1/include/script.html" %}

</body>

</html>