{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "include/head_ros.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'cssterm/css/cssterm.css' %}">

<body onload="init()">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    {% comment %} <div id="main-wrapper">

        {% include "include/header.html" %}

        {% include "include/sidebar.html" %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body"> {% endcomment %}
            
            {% include "0_SERVER/3_turtlebot/1_title.html" %}
            <div class="container-fluid">
                {% include "0_SERVER/3_turtlebot/2_statusValue.html" %}

            </div>
        {% comment %} </div> {% endcomment %}

        {% comment %} {% include "include/footer.html" %} {% endcomment %}

    {% comment %} </div> {% endcomment %}
    <!--**********************************
        Main wrapper end
    ***********************************-->

    {% comment %} {% include "include/script.html" %} {% endcomment %}
    <script src="{% static 'ver1/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'ver1/js/quixnav-init.js' %}"></script>
    <script src="{% static 'ver1/vendor/quixnav/quixnav.min.js' %}"></script>
    <script src="{% static 'ver1/js/custom.min.js' %}"></script>
    <!-- detect browser for best performance in js-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://jquery.thewikies.com/browser/jquery.browser.js"></script>
    <script src="http://code.jquery.com/jquery-1.3.2.min.js"></script>
    <script src="{% static 'cssterm/scripts/cssterm.js' %}"></script>
</body>

<body>
    <script src="{% static 'ros/raw/keyboard.js' %}"></script>
</body>

</html>