{% load static %}
<!-- Status -->

<div class="row">

    <!-- 마스크 -->
    <div class="col-xl-4 mb-3 col-lg-6 col-xxl-6 col-md-6 container-box">
        <div class="card text-center">
            <div class="card-body">
                <img src="http://192.168.0.247:8000/web/TurtlebotCamera/MaskDetection/"  style="width:100%; height:100%" />
                <!-- <img src="http://{{ip}}:8000/web/WebCamera/webcam/"  style="width:100%; height:100%" /> -->
            </div>
            <div class="stat-widget-one card-body">
                <div class="stat-content d-inline-block">
                    <!-- 마스크 쓰센 ㅋㅋ -->
                    마스크 미착용자 감지 모델
                </div>
            </div>
        </div>
    </div>

    <!-- 불 -->
    <div class="col-xl-4 mb-3 col-lg-6 col-xxl-6 col-md-6 container-box">
        <div class="card text-center">
            <div class="card-body">
                <!-- <img src="http://{{ip}}:8000/yolov5/fire_detection/"  style="width:100%; height:100%" /> -->
                <img src="http://192.168.0.247:8000/web/TurtlebotCamera/webcam/"  style="width:100%; height:100%" />
            </div>
            <div class="stat-widget-one card-body">
                <div class="stat-content d-inline-block">
                    <!-- 불이야! 불이야! -->
                    화재 감지 모델
                </div>
            </div>
        </div>
    </div>

    <!-- 지도 -->
    <div class="col-xl-4 mb-3 col-lg-6 col-xxl-6 col-md-6 container-box">
        <div class="card text-center">
            <div class="card-body">
                <div id="map" style='height: 100%; width: 100%;'></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- 컨트롤러 -->
    <div class="col-xl-2 mb-3 col-lg-6 col-xxl-6 col-md-6 container-box">
        <div class="card h-100">
            <div class="card-title text-center">
                <br/>
                <div>컨트롤러</div>
                <br/>
            </div>
            <div class="card-body">
                {% include "0_SERVER/3_turtlebot/keyboard.html" %}
            </div>
        </div>
    </div>
    
    <!-- 속도 관련 메세지 -->
    <div class="col-xl-2 mb-3 col-lg-6 col-xxl-6 col-md-6 container-box">
        <div class="card h-100">
            <div class="card">
                <div class="card-title text-center">
                    <br/>
                    <div>계기판</div>
                    <br/>
                    <div id="vel_linear_state">전/후 모터 정지</div>
                    <div id="vel_angular_state">좌/우 모터 정지</div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div id="vel_linear_x">전/후 속도</div>
                    <div id="vel_angular_z">좌/우 속도</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 자율주행 관련 메세지 -->
    <div class="col-xl-4 mb-3 col-lg-6 col-xxl-6 col-md-6 container-box">
        <div class="card h-100">
            <div class="card-title text-center">
                <br/><br/><br/><br/><br/><br/><br/><br/>
                <div id="nav_status">자율 주행 메세지</div>
            </div>
        </div>
    </div>

    <!-- 센서데이터 관련 메세지 -->
    <div class="col-xl-4 mb-3 col-lg-6 col-xxl-6 col-md-6 container-box">
        <div class="cssterm">
        </div>
    </div>
</div>