<div class="keyboard">
    <div class="keyboard__row keyboard__row--h1">
        <div data-key="27" class="key--word">
          <span>esc</span>
        </div>
    </div>
</div>
<div class="keyboard">
    <div class="keyboard__row">
      <div class="key--letter" data-char="W">W</div>
    </div>
</div>
<div class="keyboard">
    <div class="keyboard__row">
      <div class="key--letter" data-char="A">A</div>
      <div class="key--letter" data-char="S">S</div>
      <div class="key--letter" data-char="D">D</div>
    </div>
</div>
<div class="keyboard">
    <div class="keyboard__row">
      <div class="key--double key--right key--space" data-key="32" data-char=" ">
        BREAK
      </div>
    </div>
</div>